body {
    text-align: center;
    padding-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
    transform: scale(150%);
    margin-bottom: 40px;
    margin-top: 0;
}

p {
    width: 50vw;
    margin: auto;
    margin-top: 40px;
    color: #245659;
}

@keyframes growAndShrink {
    0% {
        transform: none;
    }

    50% {
        transform: scale(150%);
    }

    100% {
        transform: none;
    }
}

button {
    border: none;
    color: #245659;
}

button:hover {
    cursor: pointer
}

button:active {
    color: #d299e4;
}