@keyframes coolAnimation {
    0% {

    }

    50% {
        width: 100vw;
        height: 100vh;
        background: #eae0ff;
        border-radius: 0;
    }
}

.animatedButton {
    width: 50px;
    height: 50px;
    border-radius: 26px;
    background: #245659;
    position: fixed;
    top: 0;
    left: 0;
    /* animation: coolAnimation 10s normal 2s infinite; */
    z-index: -1;
}